@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$bg-img: url('../../images/Background.jpg');

$bg-thanks: url('../../images/countdown-bg.jpg');
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}
/**
 * Form Overrides
 */
.form-control {
  &:focus {
    outline: none !important;
    box-shadow: none;
    border-color: $gray-400;
    border-bottom-color: $primary;
  }
}

.btn-pesan {
  background-color: #BE0909;
  border: 1px solid #BE0909;
  padding: 8px 15px;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  letter-spacing: 1px;
}

.banner-home {
 background: $bg-img;
 height: 33vh;
 padding: 0;
 margin: 0;
}

.heading-home {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
}

.sub-heading-home {
  color: #BE0909;
  font-size: 19px;
  word-break: keep-all;
  font-weight: bolder;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 0;
}

.heading-img {
  margin-top:2em;
}

.btn-pesan-heading {
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
  font-weight: bolder;
  font-size: 12px;
  margin-top: 1em;
  padding: 3px 10px;
}
@media (min-width: $breakpoint-tablet) {
  .banner-home {
    padding:0vh;
    height: 38vh;
  }
  .heading-home {
    font-size:26px;
    margin-top: 1.5em;
  }
  .sub-heading-home {
    font-size: 38px;
    word-break:keep-all;
    margin-top:0.5em;
  }
  .heading-img {
    margin-top: 3em;
  }
  .btn-pesan-heading {
    font-size: 16px;
    padding: 8px 25px;
    margin-top: 2rem;
  }  
}

@media (min-width: $breakpoint-desktop) {
  .banner-home {
    padding:20vh;
    height: 100vh;
  }
  .heading-home {
    font-size:26px;
    margin-top: 1.5em;
  }
  .sub-heading-home {
    font-size: 38px;
    word-break:break-all
  }
  .heading-img {
    margin-top: unset;
  }
  .btn-pesan-heading {
    font-size: 16px;
    padding: 8px 25px;
    margin-top: 3rem;
  }  
}
  
.banner-thanks {
  background: $bg-thanks;
  height: 100vh;
  padding: 20vh;
  padding-bottom: 10vh;
  margin: 0;
  background-size: cover;
 }
 
.navbar-home {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cont-home {
  padding-left: 20px;
}


.title-form-home {
  color:black;
  font-weight: 600;
}

input {
  border-color: black !important;
}

.footer {
  background-color: #E3E3E3;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
  color:#080808;
}

.btn-form {
  margin-bottom: 5.5em;
  margin-top: 2.5em;
}

.section h3{
  color: black;
  font-weight: 600;
  margin-top: 1.5em;
}


.img-slide {
  position: relative;
  float: left;
  width:  100px;
  height: 60px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding: 0 1em;
  display: block !important;
}

.carousel-container {
  width: 70vw;
  margin: 0 auto;
}

.carousel-button-group {
  position: absolute;
}


.slick-arrow{
  color:white !important;
  background-color: black !important;
}

.slick-slider {
  width: 70vw;
  margin: 0 auto;
}

.href-countdown {
  color: #FADB1B;
}

.count-click {
  color: white;
  font-weight: 600;
}

.count-thanks {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.countdown {
  font-size: 5em;
  font-weight: 600;
  color: white;
}

.detail-title {
  background-color: #BE0909;
  color: white;
  padding: 1.5em 0 1em 0;
  margin-top: 1.5em;
}

.detail-title h4{
  font-weight: 600;  
}

.detail-list {
  border-bottom: 1px solid black;
  span{
    font-size: 18px;
    color: black;
    margin: 2em 1em !important;
    display: inline-block;
  }
}

.detail-list-image {
  vertical-align: top;
  display: inline-block;
  span{
    display: block;
    color: black;
  }
  img{
    width:  130px;
    height: 70px;
    margin: 1em 2.5em; 
}
}

.container-img-info {
  width: 70vw;
  margin: 5em auto;
  background-color: #E3E3E3; 
  position: relative;
  height: 220px;
  img {
    height: 400px;
    width: 50%;
    margin-top: -90px;
  }
  h2 {
    position: absolute;
    top: 1em;
    right: 3em;
    color:black;
  }
  p {
    position: absolute;
    top: 5em;
    width: 445px;
    text-align: center;
    color: #595959;
    right: 2em;
  }
}



